.text{
  font-size:5px;
  color:red;
}
.navbar{
  box-shadow:rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px;
  width:100%;
   position:fixed;
   z-index: 20;
   background-color: rgb(255,255,255);
 }
 
@media only screen and (min-width: 480px) {
   .navbar{
    box-shadow:rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px;
   }
}
